<div class="individualPost">
    <div class="image">
      <img ng-src={{p.img}} alt="" fallback-src>
    </div>
    <div class="bottom">
      <div class="title"><h3>{{p.title}}</h3></div>
      <div class="price"><span id="etsyLinkProd"><a href={{p.url}}>View on Etsy</a></span><p>Price: {{p.price | currency}}</p></div>
    </div>
  </div>
  <div class="descriptionWrap">
    <h1>Description</h1>
    <div class="description">
      <h2>{{p.descript}}</h2>
      <div class="mats"><u><b>Materials</u></b></div>
      <h2 ng-repeat='materials in p.materials'>{{materials}}</h2>
    </div>
    <div class="addCart" ng-controller="CartController" ng-click="addToCart(p)">
      ADD TO CART YOUNG JEDI
    </div>
</div>
