<header>
  <div class="headerWrapper" ng-controller="CartController">
    <div class="logo">
      <a href='#/'><img id="deathstar" src="deathstarLogo.jpg" alt=""><img id="starCartLogo" src="starcart.png" alt=""></a>
    </div>
    <div class="cartWrap">
      <a id="cartButton" href='#/cart'><div class="cart"> cart: {{cart.length}}<img id="r2d2" src="r2d2.png" style="height: 40px; width: 30px" alt=""><div class="r2d2shadow"></div></img></div></a>
    </div>
  </div>
</header>

<div class="cartListWrap" ng-controller="CartController">
  <div class="individualPosts" ng-repeat="carts in cart">
    <div class="image">
      <i ng-click='deleteFromCart(carts._id)' id={{carts.id}} class="fa fa-times"></i>
        <img ng-src={{carts.img}} alt="" fallback-src>
    </div>
    <div class="bottom">
      <div class="title"><h3>{{carts.title}}</h3></div>
      <div class="price"><span id="etsyLink"><a href={{carts.url}}>View on Etsy</a></span><p>Price: {{carts.price | currency}}</p></div>
    </div>
  </div>
</div>
<div class="priceTotal">Total Price: {{ getTotalPrice() | currency }}</div>
